version: '3.8'

services:
  apigateway:
    build:
      context: .
      dockerfile: AuthApiGateway/Dockerfile
    container_name: authapigateway
    ports:
      - "5666:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
    networks:
      - microservices-network
    restart: unless-stopped

networks:
  microservices-network:
    driver: bridge